<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Sistem Klasifikasi Teks{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body style="font-family: 'Poppins', sans-serif; background-color: #e6e2dc; margin: 0;">
    <header class="navbar">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='uploads/logo.jpeg') }}" alt="Logo" />
            <span class="logo-text">Sistem Klasifikasi Teks</span>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Beranda</a></li>
                <li><a href="{{ url_for('tentang') }}">Tentang</a></li>
                <li><a href="{{ url_for('test') }}">Uji </a></li>
                <li><a href="{{ url_for('kontak') }}">Kontak</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p style="text-align: center; padding: 20px;">© 2025 - Kelompok 2 / Politeknik Caltex Riau
</body>
</html>
